*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(102, 206, 206);
    display: grid;
    grid-template-rows: 5rem 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

header{
    width: 100vw;
    height: 5rem;
}

button{
    background: rgb(212, 212, 212);
    color: black;
    font-family: sans-serif;
}

button:hover{
    background: grey;
}