*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 10rem;
}


blockquote{
    font-size: 2.5rem;
}

.right{
    float: right;
}

.left{
    float: left;
}

/*clear, no permite que tenga cosas flotando cerca para evitar saltos. Hay que expecificar a que lado*/

.clear{
    clear: left;
}

#nota1{
    font-style: italic;
}