*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Contenedor */

div.container{
    /* --altura: 15rem;
    --ancho: 15rem */
    position: relative;
    border: 1px solid black;
    height: 15rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cuadrados */

div.container > div{
    border: 1px solid black;
    height: 7.5rem;
    width: 7.5rem;
    position: absolute;

    transition: transform 0.5s
    
}

div.topleft{
    top: 0;
    left: 0;
    background: red;
    transform-origin: top left;
}

div.topright{
    top: 0;
    right: 0;
    background: yellow;
    transform-origin: top right;
}

div.bottomleft{
    bottom: 0;
    left: 0;
    background: blue;
    transform-origin: bottom left;
}

div.bottomright{
    bottom: 0;
    right: 0;
    background: green;
    transform-origin: bottom right;
}

/* hover */

div.container:hover div.topleft,
div.container:hover div.bottomright {
    transform: rotate(90dg);

}

div.container:hover div.topright,
div.container:hover div.bottomleft {
    transform: rotate(-90dg);
}

