*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: red;

}

body{
    background: blue;
    min-height: 100vh;

    display: grid;

    grid-template-rows: 7rem 1fr 2rem;
}

header{
background: black;
color: white;
text-align: center;

display: grid;
grid-template-rows: 1fr 2rem ;

align-items: center;
}

main{
    background: white;
}

nav{
    background: green;
    align-self: stretch;

    display: grid;
    align-items: center;

}

nav menu{
    display: grid;
    list-style: none;
    grid-template-columns: 2rem 1fr 2rem 2rem;
}

nav input{
    display: block;
    height: 100%;
    width: 100%;
    
}

nav button{
    width: 1.5rem;
    height: 1.5rem;
    background: black;
}

footer{
    background: green;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}