

header{
    background-color: rgb(177, 14, 14);
}

h1{
    color: gold;
    font-family: cursive;
    font-size: 3rem;
    border: 1px solid gold;
    margin: 3px auto;
    padding: 2rem;
}

menu{
    margin: 3px auto;
    padding: 2rem; 
    color: gold;
}

h2{
    text-decoration: underline;
    color: gold;
}

img{
    border: 1px solid gold;
    border: 1px solid gold;
    margin: 3px auto;
    padding: 2rem;
}